---
import BaseHead from "../components/BaseHead.astro";
import BlogHeader from "../components/BlogHeader.jsx";
import BlogPost from "../components/BlogPost.jsx"
import { Markdown } from 'astro/components';
import MarkdownFix from "../components/MarkdownFix.astro";

const { content } = Astro.props;
const { title, description, publishDate, author, heroImage, permalink, alt } = content;
const source = content.astro.source;
---
<html lang={content.lang || "en"}>
  <script hoist>
    let theme = "dracula";
    document.documentElement.classList.add(theme);
    if (localStorage.getItem("theme")) {
      document.documentElement.classList.remove(theme);
      theme = localStorage.getItem("theme");
      document.documentElement.classList.add(theme);
    }
  </script>
  <head>
    <BaseHead
      title={title}
      description={description}
      permalink={permalink}
    />
    <link rel="stylesheet" href={Astro.resolve("../styles/blog.css")} />
    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/nord.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
  </head>
  <body>
    <BlogHeader client:load/>
    <main>
      <div class="wrapper">
        <BlogPost
          title={title}
          author={author}
          heroImage={heroImage}
          publishDate={publishDate}
          alt={alt}
        >
            <MarkdownFix content={source} />
        </BlogPost>
      </div>
      <!-- <footer>
        <p>Copyright 2021 Asandei Stefan Alexandru. All rights reserved.</p>
      </footer> -->
    </main>

    <script>hljs.highlightAll();</script>
  </body>
</html>